.about{
    width: 100%;
    position: relative;
    background: url('../../assets/bg-news.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.about .container{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 35px 0;
}
.about-title{
    font-size: 32px;
    font-weight: 700;
    color: #262524;
    position: relative;
    margin-left: 60px;
}
.about-line::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 3px;
    background-color: #FAB448;
    top: 25%;
    -webkit-transform: translateY(100%);
    transform: translateX(-100%);
    left: -10px;
    padding: 0 10px  ;
}
.about-text{
    width: 450px;
   font-size: 16px;
   color: #919190;
 padding: 10px 0;
}
.about-right{
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    width: 100%;
    height: 100%;
}
.about-cards{
    width: 620px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-card:nth-child(1){
   visibility: hidden;
}
.about-card:nth-child(9){
    visibility: hidden;
 }
 .about-subline{
    color: #262524 ;
 }
.about-card{
    width: 200px;
    height: 150px;
    border: 2px solid #262524;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition:  all 1s ease;

}
.about-card:hover{
    background: url('../../assets//about-pic.jpg');
    background-size: cover;
    background-repeat: repeat;
}
.about-card:hover .about-headline  {
    color: #fff;
}
.about-card:hover .about-subline  {
    color: #fff;
}
.about-card.active{
  background-color: #FAB448;
}
.about-card.active:hover{
    background: #FAB448;
}
.about-subtext{
    text-align: center;
}
@media screen and (max-width: 1200px) {
    .about .container{
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 35px 15px;
    }
    
.about-card{
    width: 200px;
    height: 150px;
    border: 2px solid #262524;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition:  all 1s ease;

}
.about-text{
    width: 300px;
 padding: 10px ;
}
}
@media screen and (max-width: 960px) {
    .about .container{
        display: flex;
        flex-wrap: wrap;
    }
    .about-text{
        width: 450px;
       font-size: 16px;
       color: #919190;
     padding: 10px 0;
    }
    .about-right{
        justify-content: center;
    }
    .about-cards{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap; 
        border: none;
    }
     .about-subline{
        color: #262524 ;
     }
    .about-card{
        margin: 10px 0;
    }
}
@media screen and (max-width: 650px) {
    .about-title{
        font-size: 20px !important;
    }

    .about-text{
        width: 100% ;
       font-size: 15px;
    }
    .about-cards{
        width: 100%;
        align-items: center;
        justify-content: center;
        padding:  5px;
    }
    .about-card{
        width:300px;
    }
}
@media screen and (max-width: 573px) {
    .about-card{
        width: 300px;
    }
    
.about-card:nth-child(1){
  display: none;
 }
 .about-card:nth-child(9){
     display: none;
  }
}