.contact{
    background: url('../../assets/contcact-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.contact-title{
    font-size: 32px;
    font-weight: 700;
    color: #262524;
    position: relative;
    margin-left: 60px;
    padding: 10px 0;
}
.contact-line::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 3px;
    background-color: #FAB448;
    left: -45px;
    top: 20px;
    padding: 0 10px  ;
}
.contact-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}
.contact-card{
    width: 200px;
    height: 120px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.contact-info{
    padding-left: 10px;
}
.contact-text{
    font-size: 15px;
}
.contact-iconic{
    color: #FAB448;
    font-size: 20px;
    font-weight: bold;
}

.contact-icons{
    display: flex;
    align-items: center;
}
.icon-sign{
    padding: 20px 10px;
    transition: all 0.5s ease;
    color: #262524;
    font-size: 20px;
}
.icon-sign:hover{
    color: #FAB448;
}

.contact-form{
    width: 550px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 10px;
    border-radius: 5px;
    margin: 30px 0;
    
}
.contact-inputs {
    display: flex;
    gap: 10px; /* Adjust the gap between the input fields as needed */
}
.input-logo{
    width: 30px;
    height: 30px;
}
.input-group {
    display: flex;
    flex-direction: column;
}
.contact-input{
    width: 180px;
    height: 30px;
    border: 1px solid gray;
    outline: none;
    padding: 5px;
}
.contact-label{
    font-size: 14px;
    font-weight: bold;
    color: #262524;

}
.contact-btn{
    margin-top: 10px;
    width: 100px;
    height: 35px;
    background-color: #FAB448;
    color: white;
    border: none;
}
.contact-right{
    width: 100%;
    height: 500px;
}
.contact-right iframe{
    width: 100%;
    height: 100%;
    border: none;
}
.contact-bottom{
    text-align: center;
    padding: 30px 0;
    color: #ABAAAA;
}
@media screen and (max-width:1200px) {
    .contact-wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    .contact-cards{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin: 30px 0;
    }
    .contact-right{
        width: 100%;
        height: 585px;
    }
}
@media screen and (max-width:1000px) {
    .contact-wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .contact-left{
        width: 100%;
        padding: 10px 30px;
    }
    .contact-right{
        margin: 15px;
    }
}
@media screen and (max-width:615px) {
    .contact-left{
        padding: 10px 15px;
    }
    .contact-form{
        width: 470px;
        padding: 30px;
        gap: 5px;
    }
    .contact-inputs {
        display: flex;
        gap: 4px; /* Adjust the gap between the input fields as needed */
    }
    .contact-input{
        width: 150px;
        height: 30px;
    }
   
}
@media screen and (max-width:525px) {
    .contact-left{
        padding: 10px 15px;
    }
    .contact-form{
        width: 390px;
        padding: 30px;
        gap: 5px;
    }
    .contact-inputs {
        display: flex;
        gap: 4px; /* Adjust the gap between the input fields as needed */
    }
    .contact-input{
        width: 120px;
        height: 25px;
    }
    .contact-btn{
        margin-top: 13px;
        width: 80px;
        height: 28px;
        font-size: 12px;
    }
}
@media screen and (max-width:450px) {
    .contact-title{
        font-size: 24px;
    }
    .contact-card{
        width: 100% !important;
    }
    .contact-form{
        width: 300px;
        gap: 3px;    
        padding: 16px;
    }
    .contact-inputs {
        gap: 5px;
    }
    .contact-input{
        width: 90px;
        height: 25px;
    }
    .contact-label{
        font-size: 13px;
        padding: 8px 0;
    
    }
    .contact-btn{
        margin-top: 22px;
        width: 70px;
        height: 30px;
        font-size: 11px;
    }
    .contact-right{
        height: 450px;
    }
}
@media screen and (max-width:345px) {
    .contact-form{
        width: 100%;
        gap: 3px;    
        padding: 16px;
    }
    .contact-input{
        width: 70px;
        height: 25px;
    }
    .contact-input::placeholder{
        font-size: 10px;
    }
    .contact-label{
        font-size: 13px;
        padding: 8px 0;
    
    
}
.contact-btn{
    margin-top: 30px;
    width: 67px;
    height: 27px;
    font-size: 11px;
}
}